.cards {
  box-sizing: content-box;
  width: 130px;
  height: 180px;
  background-image: url(cards/backdesign.png);
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  background-size: cover;

  border: black 5px solid;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.closedCardsWrapper {
  @include flex;
  width: 600px;
  justify-content: space-evenly;
  position: relative;
  bottom: 50px;
  height: 180px;
}
.Enemy {
  position: relative;
  top: 50px;
  visibility: hidden;
}
.playerCard {
  visibility: hidden;
}
.newCard {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  align-items: center;
  margin-right: 100px;
}
